@model Pet
@{
    ViewData["Title"] = "Edit Pet Profile";
    var role = Context.Session.GetString("Role");
}

<div class="container mt-5">
<ul class="nav nav-tabs rounded-top">
    <li class="nav-item">
        <a class="nav-link active d-flex flex-column align-items-center" href="#profile" data-bs-toggle="tab">
            <p>Profile</p>
            <i class="fa-solid fa-paw"></i>
        </a>
    </li>
</ul>

<div class="tab-content bg-white shadow-sm p-3">
        <div class="tab-pane fade show active pb-5" id="profile">
        @if (Context.Session.GetString("Username") is not null && 
             (Context.Session.GetString("Username") == Model.Shelter.Username || role == nameof(Admin)) && 
             Model.ProfilePicture is not null)
        {
            <div class="col-md-6 mt-3 px-5 col-12 d-flex flex-column align-items-center position-relative">
                <form asp-action="DeleteProfilePicture">
                    <input asp-for="Id" hidden="hidden" class="form-control">
                    <input type="submit" value="Delete profile picture" class="rose-btn p-2 rounded-3 w-100">
                </form>
            </div>
        }
        
        <form class="row g-3" asp-action="EditProfile" enctype="multipart/form-data" id="profileInformationForm">
                        <input asp-for="ShelterUsername" hidden="hidden" class="form-control">
                        <input asp-for="Id" id="PetIDForEdit" hidden="hidden" class="form-control">
                        <input asp-for="State" hidden="hidden" class="form-control">
                        <input asp-for="ProfilePicture" id="ProfilePictureForEdit" hidden="hidden" class="form-control">
                        <div class="col-md-6 mt-0 p-5 col-12 d-flex flex-column align-items-center position-relative">
                            <img class="profile-pic-pet" alt="Profile picture" src="/Pet/ProfilePicture/@Model.Id">
                            <div class="form-group">
                                <label asp-for="ImageFile" class="form-label">Upload a profile pic</label>
                                <input class="form-control form-control-lg" asp-for="ImageFile" type="file" accept="image/png, image/heic, image/jpeg, image/jpg" aria-describedby="ProfilePictureHelp">
                                <div id="ProfilePictureHelp" class="form-text">Accepts png, heic, jpeg and jpg files.<br>Recommended image size is 400 x 400 px.</div>
                                <span asp-validation-for="ProfilePicture" class="small adoptly-text-danger d-block mt-1"></span>
                            </div>
                        </div>
                        <div class="d-flex mt-4 d-flex flex-column p-5 gap-3 col-md-6 col-12 position-relative">
                            <h1 class="mt-3">Edit profile</h1>
                            <div class="row mb-3 d-flex align-items-center">
                                <div class="col-md-5">
                                    <div class="form-floating">
                                        <input asp-for="Name" class="form-control" placeholder="Enter pet name...">
                                        <label asp-for="Name" class="control-label"></label>
                                        <span asp-validation-for="Name" class="small adoptly-text-danger d-block"></span>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <span class="display-5">the</span>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-floating">
                                        <input asp-for="Breed" class="form-control" placeholder="Enter pet breed...">
                                        <label asp-for="Breed" class="control-label"></label>
                                        <span asp-validation-for="Breed" class="small adoptly-text-danger d-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Description" class="form-control" placeholder="Enter pet description...">
                                <label asp-for="Description" class="control-label"></label>
                                <span asp-validation-for="Description" class="small adoptly-text-danger d-block"></span>
                            </div>
                            <fieldset class="form-group d-flex flex-column align-items-center">
                                <legend class="form-check-label mb-3">Status</legend>
        
                                <div class="row">
                                    @foreach (var status in typeof(Status).GetEnumNames())
                                    {
                                        <div class="col-12 col-sm-6 col-md-3 text-center mb-2">
                                            <!-- adjust the column classes as per requirement -->
                                            <div class="form-check">
                                                @if (status == Status.OnHold.ToString())
                                                {
                                                    <input asp-for="Status" class="form-check-input" type="radio" value="@status" id="@status">
                                                    <label for="@status" class="form-check-label">On hold</label>
                                                }
                                                else
                                                {
                                                    <input asp-for="Status" class="form-check-input" type="radio" value="@status" id="@status">
                                                    <label for="@status" class="form-check-label">@status</label>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <span asp-validation-for="Status" class="small adoptly-text-danger mt-2"></span>
                            </fieldset>
                            <div class="row px-5 small">
                                <div class="col-md-4 pt-3">
                                    <div class="form-group">
                                        <label asp-for="Age" class="form-check-label text-center d-block mb-3 mt-2"></label>
                                        <input asp-for="Age" class="form-control" placeholder="Enter pet age...">
                                        <span asp-validation-for="Age" class="small adoptly-text-danger d-block"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 pt-3">
                                    <fieldset class="form-group d-flex flex-column align-items-center">
                                        <legend class="form-check-label text-center d-block mb-3 mt-2">Animal Type</legend>
        
                                        <div class="d-flex justify-content-center">
                                            @foreach (var animalType in typeof(AnimalType).GetEnumNames())
                                            {
                                                var id = $"AnimalType{animalType}";
                                                <div class="form-check form-check-inline">
                                                    <input asp-for="AnimalType" class="form-check-input" type="radio" value="@animalType" id="@id">
                                                    <label for="@id" class="form-check-label">@animalType</label>
                                                </div>
                                            }
                                        </div>
        
                                        <span asp-validation-for="AnimalType" class="small adoptly-text-danger mt-2"></span>
                                    </fieldset>
                                </div>
                                <div class="col-md-4 pt-3">
                                    <div class="form-group">
                                        <label asp-for="Colour" class="form-check-label text-center d-block mb-3 mt-2"></label>
                                        @Html.DropDownListFor(pet => pet.Colour, Html.GetEnumSelectList(typeof(Colour)), "Colour...", new { @class = "form-select" })
                                        <span asp-validation-for="Colour" class="small adoptly-text-danger d-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row px-5 small border-top">
                                <div class="col-md-6 pt-3">
                                    <fieldset class="form-group">
                                        <legend class="form-check-label text-center d-block mb-3">Sex</legend>
                                        <div class="d-flex justify-content-center mb-2">
                                            @foreach (var sex in typeof(Sex).GetEnumNames())
                                            {
                                                var id = $"Sex{sex}";
                                                <div class="form-check form-check-inline">
                                                    <input asp-for="Sex" class="form-check-input" type="radio" value="@sex" id="@id">
                                                    <label for="@id" class="form-check-label">@sex</label>
                                                </div>
                                            }
                                        </div>
                                        <span asp-validation-for="Sex" class="small adoptly-text-danger d-block text-center"></span>
                                    </fieldset>
                                    <div class="form-group text-center">
                                        <label asp-for="Independence" class="form-check-label text-center d-block mb-3"></label>
                                        @Html.DropDownListFor(pet => pet.Independence, Html.GetEnumSelectList(typeof(ValueScale)), "Select one...", new { @class = "form-select" })
                                        <span asp-validation-for="Independence" class="small adoptly-text-danger d-block"></span>
                                    </div>
                                    <div class="form-group text-center">
                                        <label asp-for="ActivityLevel" class="form-check-label text-center d-block mb-3 mt-2"></label>
                                        @Html.DropDownListFor(pet => pet.ActivityLevel, Html.GetEnumSelectList(typeof(ValueScale)), "Select one...", new { @class = "form-select" })
                                        <span asp-validation-for="ActivityLevel" class="small adoptly-text-danger d-block"></span>
                                    </div>
                                </div>
        
                                <div class="col-md-6 pt-3">
                                    <div class="form-group text-center">
                                        <fieldset>
                                            <legend class="form-check-label text-center d-block mb-3">Desexed</legend>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" asp-for="Desexed" id="DesexedYes" value="@true">
                                                <label class="form-check-label" asp-for="Desexed" for="DesexedYes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" asp-for="Desexed" id="DesexedNo" value="@false">
                                                <label class="form-check-label text-center d-block mb-3" asp-for="Desexed" for="DesexedNo">
                                                    No
                                                </label>
                                            </div>
                                            <span asp-validation-for="Desexed" class="small adoptly-text-danger d-block"></span>
                                        </fieldset>
                                    </div>
                                    <div class="form-group text-center">
                                        <fieldset>
                                            <legend class="form-check-label text-center d-block mb-3">Allergy friendly</legend>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" asp-for="AllergyFriendly" id="AllergyFriendlyYes" value="@true">
                                                <label class="form-check-label" asp-for="AllergyFriendly" for="AllergyFriendlyYes">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" asp-for="AllergyFriendly" id="AllergyFriendlyNo" value="@false">
                                                <label class="form-check-label text-center d-block mb-3" asp-for="AllergyFriendly" for="AllergyFriendlyNo">
                                                    No
                                                </label>
                                            </div>
                                            <span asp-validation-for="AllergyFriendly" class="small adoptly-text-danger d-block"></span>
                                        </fieldset>
                                    </div>
                                    <div class="form-group text-center">
                                        <label asp-for="Budget" class="form-check-label text-center d-block mb-3"></label>
                                        @Html.DropDownListFor(pet => pet.Budget, Html.GetEnumSelectList(typeof(ValueScale)), "Select one...", new { @class = "form-select" })
                                        <span asp-validation-for="Budget" class="small adoptly-text-danger d-block"></span>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Save" class="btn btn-save gradient-btn position-absolute bottom-0 end-0">
                        </div>
                    </form>
        
        
    </div>
    <a href="javascript:void(0);" id="backButton" class="btn btn-back position-absolute bottom-0 start-0 shadow-none">Back</a>
    @if (Context.Session.GetString("Username") is not null && (Context.Session.GetString("Username") == Model.Shelter.Username || role == nameof(Admin)))
    {
        <button type="button" class="btn btn-danger btn-delete text-muted position-absolute top-0 end-0 shadow-none" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="fa-regular fa-trash-can px-1"></i>
            Delete pet?
        </button>
    }
</div>

<form asp-action="DeleteProfile">
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <input asp-for="Id" id="PetIDForDelete" hidden="hidden" class="form-control">
                    <input asp-for="ProfilePicture" id="ProfilePictureForDelete" hidden="hidden" class="form-control">
                    <input asp-for="@Model.Shelter.Username" hidden="hidden" class="form-control">
                    <input asp-for="@Model.Shelter.Username" hidden="hidden" class="form-control">
                    <h2 class="modal-title fs-5" id="deleteModalLabel">Delete @Model.Name</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete @Model.Name?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<script>
    $(document).ready(function () {
        var pageHistory = [];

        $("#backButton").on("click", function () {
            if (pageHistory.length > 0) {
                var previousPage = pageHistory.pop();
                window.location = previousPage;
                window.location.reload(true);
            } else {
                window.history.back();
            }
        });
        function addToHistory() {
            pageHistory.push(window.location.href);
        }
        $(document).on("click", "a", addToHistory);
    });
</script>