@model IEnumerable<Application>

@{
    ViewData["Title"] = "Archived Applications";
    PaginationViewModel pagination = new()
    {
        TotalResults = ViewBag.TotalResults,
        TotalPages = ViewBag.TotalPages,
        CurrentPage = ViewBag.CurrentPage,
        Url = "Adopter/ArchivedApplications?"
    };
}

<div class="row gy-2 p-4 bg-white shadow-sm rounded-3 justify-content-md-center">

    <div class="row justify-content-md-center">
        <div class="row gy-1 p-0 m-0 justify-content-md-between">
            <div class="col-md-10 ms-0">
                <h1 class="adoptly-font-medium mb-1">Archived applications</h1>
                <span class="text-muted small">View your archived applications submitted to shelters. You have @ViewBag.TotalResults archived application(s).</span>
            </div>
            <a class="d-flex justify-content-end col-md-2 ms-auto adoptly-link pe-0 me-0 align-self-end" href="@Url.Action("Applications", "Adopter")">Active applications</a>
        </div>
    </div>
    
        <div class="row gy-4 mt-2 justify-content-md-center">

            @if (!Model.Any())
            {
                <h6 class="mt-5 mb-5 pt-5 pb-5 d-block text-center text-muted">You do not have any archived applications.</h6>
            }
            else
            {
                @foreach (var application in Model)
                {
                    <div class="card p-1">
                        <div class="card-header border-0 bg-white d-flex justify-content-between">
                            <h2 class="small">Pet Identification No. @application.Pet.Id</h2>
                            @switch (application.Status)
                            {
                                case ApplicationStatus.Accepted:
                                    <p class="text-success small">
                                        <span class="text-muted">Application status:</span> @application.Status
                                    </p>
                                    break;
                                case ApplicationStatus.Rejected:
                                    <p class="text-danger small">
                                        <span class="text-muted">Application status:</span> @application.Status
                                    </p>
                                    break;
                                case ApplicationStatus.Processing:
                                    <p class="text-warning small">
                                        <span class="text-muted">Application status:</span> @application.Status
                                    </p>
                                    break;
                                case ApplicationStatus.Received:
                                    <p class="text-info small">
                                        <span class="text-muted">Application status:</span> @application.Status
                                    </p>
                                    break;
                                default:
                                    <p class="small">
                                        <span class="text-muted">Application status:</span> @application.Status
                                    </p>
                                    break;
                            }
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex gap-5 align-content-center">
                                <img class="align-self-center application-profile-pic-pet" alt="Profile picture" src="/Pet/ProfilePicture/@application.Pet.Id">
                                <div class="d-flex flex-grow-1 flex-column justify-content-center">
                                    <ul>
                                        <li class="small">
                                            <span class="text-muted">Date applied: </span>@application.DateApplied.ToLocalTime().ToString("d/M/yyyy")
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <ul class="col">
                                            <li class="small">
                                                <span class="text-muted">Pet name: </span><a href="@Url.Action("Profile", "Pet", new { id = application.PetId })" class="adoptly-link">@application.Pet.Name</a>
                                            </li>
                                        </ul>
                                        <ul class="col">
                                            <li class="small">
                                                <span class="text-muted">Shelter name: </span><a href="@Url.Action("Profile", "Shelter", new { id = application.Pet.Shelter.Username })" class="adoptly-link">@application.Pet.Shelter.Name</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="row">
                                        <ul class="col">
                                            <li class="small">
                                                <span class="text-muted">Location: </span>@application.Pet.Shelter.State
                                            </li>
                                        </ul>

                                        <ul class="col">
                                            @if (application.Pet.Status == Status.OnHold)
                                            {
                                                <li class="small">
                                                    <span class="text-muted">Pet Status: </span>On hold
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="small">
                                                    <span class="text-muted">Pet Status: </span>@application.Pet.Status
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                    @if (application.DateProcessed is not null)
                                    {
                                        <ul>
                                            <li class="small">
                                                <span class="text-muted">Date processed: </span>@application.DateProcessed?.ToLocalTime().ToString("d/M/yyyy")
                                            </li>
                                        </ul>
                                    }
                                </div>
                            </div>
                            <div class="d-flex gap-1 justify-content-end">
                                <a href="@Url.Action("Application", "Adopter", new { petId = application.PetId })" class="btn adoptly-btn-secondary">Details</a>
                            </div>
                        </div>
                    </div>
                }
            }
    </div>
    <partial name="_Pagination" model="@pagination"/>
</div>