@model AdopterDashboardViewModel

@{
    ViewData["Title"] = "Adopter dashboard";
}

<svg width="0" height="0" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <clipPath id="blob1">
            <path transform="scale(0.70) translate(80 65)" d="M35.5,-36.7C45.7,-25.3,53.3,-12.7,53.7,0.4C54.1,13.4,47.2,26.9,37,41C26.9,55,13.4,69.8,-3.5,73.3C-20.4,76.8,-40.8,69,-53,54.9C-65.2,40.8,-69.2,20.4,-68.4,0.8C-67.5,-18.7,-61.9,-37.5,-49.7,-48.9C-37.5,-60.3,-18.7,-64.4,-3,-61.3C12.7,-58.3,25.3,-48.2,35.5,-36.7Z" />
        </clipPath>
        <clipPath id="blob2">
            <path transform="scale(0.62) translate(82 75)" d="M40.2,-42.5C55.3,-35.3,72.8,-25.6,76,-12.6C79.1,0.3,68,16.6,57.6,32.1C47.3,47.7,37.8,62.6,23.4,70.5C9.1,78.3,-10,79.1,-23.7,71.4C-37.4,63.7,-45.7,47.4,-55.4,31.6C-65.1,15.7,-76.1,0.1,-76,-15.6C-75.9,-31.4,-64.6,-47.5,-50.1,-54.7C-35.5,-61.9,-17.8,-60.3,-2.6,-57.3C12.6,-54.2,25.2,-49.6,40.2,-42.5Z" />
        </clipPath>
        <clipPath id="blob3">  
            <path transform="scale(0.70) translate(70 70)" d="M51.8,-51.7C62.3,-41.3,62.7,-20.6,58.3,-4.4C53.9,11.8,44.7,23.6,34.2,34.8C23.6,45.9,11.8,56.3,-4.4,60.6C-20.5,65,-41.1,63.3,-49.6,52.2C-58.2,41.1,-54.7,20.5,-55,-0.2C-55.2,-21,-59.2,-42.1,-50.6,-52.5C-42.1,-62.9,-21,-62.7,-0.2,-62.5C20.6,-62.3,41.3,-62.1,51.8,-51.7Z" />
        </clipPath>       
        <clipPath id="blob4">
            <path transform="scale(0.65) translate(80 80)" d="M45.7,-49.6C56.5,-34.9,60.7,-17.5,63.6,3C66.6,23.4,68.3,46.7,57.5,57.5C46.7,68.4,23.4,66.6,4.3,62.3C-14.8,58,-29.5,51.1,-44.9,40.3C-60.4,29.5,-76.5,14.8,-77.2,-0.7C-77.9,-16.2,-63.2,-32.3,-47.8,-47C-32.3,-61.6,-16.2,-74.8,0.6,-75.4C17.5,-76.1,34.9,-64.2,45.7,-49.6Z" />
        </clipPath>        
        <clipPath id="blob5">
            <path transform="scale(0.67) translate(85 75)" d="M41.6,-38.5C50.8,-21.8,52.7,-4.7,50,13.2C47.4,31,40.1,49.5,24.9,60C9.8,70.4,-13.1,72.7,-33.5,64.7C-53.9,56.8,-71.6,38.6,-75.2,18.5C-78.7,-1.6,-68,-23.7,-53.1,-41.7C-38.2,-59.8,-19.1,-73.9,-1.4,-72.7C16.3,-71.6,32.5,-55.3,41.6,-38.5Z" />
        </clipPath>        
        <clipPath id="blob6">
            <path transform="scale(0.70) translate(65 65)" d="M49.3,-55.4C63.1,-47.2,73,-30.9,72.6,-15.4C72.2,0,61.5,14.7,51.3,27.1C41.1,39.5,31.5,49.8,17.9,59.1C4.2,68.4,-13.4,76.8,-25.6,71.8C-37.8,66.7,-44.6,48.2,-47.9,32.5C-51.3,16.8,-51.2,3.9,-49.2,-8.8C-47.1,-21.5,-43,-33.9,-34.5,-43.1C-25.9,-52.2,-13,-58,2.4,-60.9C17.8,-63.7,35.5,-63.6,49.3,-55.4Z" />
        </clipPath>
    </defs>
</svg>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-gradient dashboard-welcome">WELCOME BACK!</h1>
        <div class="dashboard-search">
            <partial name="_SearchBar" model="new SearchDataViewModel()"/>
        </div>
    </div>

    <div class="bg-white p-3 mb-3 dashboard-container">
        <div class="p-2 dashboard-title-box">
            <h2 class="dashboard-title-text">Longest fur-reinds</h2>
        </div>

        <div class="dashboard-content row">
            @if (Model.PetsThatNeedHomes.Any())
            {
                Random rnd = new Random();
                List<int> blobNumbers = Enumerable.Range(1, 6).OrderBy(x => rnd.Next()).ToList();
                int index = 0;

                foreach (var pet in Model.PetsThatNeedHomes)
                {
                    int blobNumber = blobNumbers[index % 6];
                    <div class="col-6 col-md-2 text-center d-flex justify-content-center align-items-center pet-div">
                        <a href="~/Pet/Profile/@pet.Id" class="text-decoration-none text-dark">
                            <div class="pet-img-wrapper" style="clip-path: url(#blob@(blobNumber));">
                                <img class="img-fluid pet-img" style="width: 100px; height: 100px; object-fit: cover;" alt="Profile picture"
                                     src="/Pet/ProfilePicture/@pet.Id">
                            </div>
                            <p>@Html.DisplayFor(x => pet.Name)</p>
                        </a>
                    </div>
                    index++;
                }
            }
            else
            {
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/img/logos/nothing_to_see_here.png" style="padding-bottom: 1vh;" alt="No pets available" class="dashboard-content-hmm">
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3 rounded-3">
            <div class="bg-white p-3 dashboard-container dashboard-columns d-flex flex-column">
                <div class="p-2 dashboard-title-box">
                    <h2 class="dashboard-title-text">Top matches</h2>
                </div>
                <div class="dashboard-content d-flex flex-column
+align-items-center justify-content-center flex-grow-1">
                    @if (ViewBag.HasTakenQuiz is not null && !ViewBag.HasTakenQuiz)
                    {
                        <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1 text-center">
                            <h2 class="text-gradient">Discover your match!</h2>
                            <p>Take our matchmaking quiz now.</p>
                            <a href="#" class="quiz-btn bg-notification text-decoration-none" data-bs-toggle="modal" data-bs-target="#quizModal">
                                <i class="fa-regular fa-comments"></i>
                            </a>
                        </div>
                    }
                    else if (Model.MatchedPets.Count == 0)
                    {
                        <div class="row">
                            <div class="d-flex align-items-center">
                                <img src="/assets/img/logos/nothing_to_see_here.png" style="padding-bottom: 1vh;" alt="No applicants available" class="dashboard-content-hmm">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="pt-4 px-5">
                            @foreach (var match in Model.MatchedPets)
                            { 
                                <div class="row mb-3 align-items-center">
                                    <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center">
                                        <a href="~/Pet/Profile/@match.Pet.Id" class="pet-match-link">
                                            <img src="/Pet/ProfilePicture/@match.Pet.Id" alt="Profile picture" class="pet-match-img img-fluid">
                                        </a>
                                    </div>
                                    <div class="py-1 col-12 col-sm-6 col-md-6 col-lg-3 text-center pet-match-info">
                                        <p>@Html.DisplayFor(x => match.Pet.Name)</p>
                                    </div>
                                    <div class="py-1 col-12 col-sm-6 col-md-6 col-lg-3 text-center pet-match-info">
                                        <span>@match.MatchmakingPercent(@ViewBag.TotalQuestions)% match</span>
                                    </div>
                                    <div class="py-1 col-12 col-sm-12 col-md-12 col-lg-3 text-center pet-match-review">
                                        <a class="btn rose-btn" href="~/Pet/Profile/@match.Pet.Id">Review</a>
                                    </div>
                                </div>
                                @if (match != Model.MatchedPets.Last())
                                {
                                    <hr class="my-3">
                                }
                            }
                            <a href="@Url.Action("Results", "Matchmaker")?page=1" class="hyperlink d-block text-center mt-4 view-all-link">
                                View all matches
                                <hr class="my-2" />
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="adoptly-btn-primary d-block rounded p-1 text-center mt-4 mb-3 w-50 py-3" data-bs-toggle="modal" data-bs-target="#quizModal">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                    Retake quiz
                                </a>
                            </div>
                        </div>
                    }

                    <!-- Modal -->
                    <partial name="_MatchmakerQuiz" model="Model.Quiz">

                    <!-- Re-open modal if quiz not valid -->
                    @if (ViewBag.OpenModal is not null)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#quizModal").modal("show");
                            });
                        </script>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 rounded-3">
            <div class="bg-white p-3 dashboard-container dashboard-columns d-flex flex-column">
                <div class="p-2 dashboard-title-box">
                    <h2 class="dashboard-title-text">Welcome from Adoptly!</h2>
                </div>
                <div class="dashboard-content d-flex align-items-center justify-content-center flex-column flex-grow-1 mx-5">
                    <h4>Adoptly's grand launch: a new era for pet adoption</h4>
                    <div class="row">
                        <div class="col-12 col-lg-6 my-auto">
                            <p><small>It's not every day that a revolutionary platform emerges, promising to change the landscape of pet adoption. Today, we're thrilled to introduce you to Adoptly, a platform that's set to redefine the way we connect with our future furry friends.</small></p>
                            <p><small>Our vision was to make pet adoption seamless, transparent, and joyful. We recognized the challenges faced by potential pet owners—navigating through endless listings, understanding adoption procedures, and finding the perfect match. Adoptly was born out of the desire to simplify this process and bring pets closer to their forever homes.</small></p>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center">
                            <img src="/assets/img/logos/dog_blob_01/dog_blob_01_612w.png" alt="Welcome Dog" class="responsive-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.pet-div').on('mousemove', function (e) {
            var offset = $(this).offset();
            var xPos = e.pageX - offset.left;
            var yPos = e.pageY - offset.top;
            var centerX = $(this).width() / 2;
            var centerY = $(this).height() / 2;
            var deltaX = xPos - centerX;
            var deltaY = yPos - centerY;
            var distance = Math.sqrt((deltaX * deltaX) + (deltaY * deltaY));
            var maxDistance = Math.sqrt((centerX * centerX) + (centerY * centerY));
            var scaleTriggerDistance = maxDistance / 2;
            var adjustedDistance = Math.max(distance - scaleTriggerDistance, 0);
            var scale = 1 + 0.4 * (1 - adjustedDistance / (maxDistance - scaleTriggerDistance));
            scale = Math.min(scale, 1.4);
            var adjacentScale = 1 + 0.2 * (1 - adjustedDistance / (maxDistance - scaleTriggerDistance));
            adjacentScale = Math.min(adjacentScale, 1.2);

            $(this).css('transform', 'scale(' + scale + ')');
            $(this).prev('.pet-div').css('transform', 'scale(' + adjacentScale + ')');
            $(this).next('.pet-div').css('transform', 'scale(' + adjacentScale + ')');
        });

        $('.pet-div').on('mouseleave', function () {
            $(this).css('transform', 'scale(1)');
            $(this).prev('.pet-div').css('transform', 'scale(1)');
            $(this).next('.pet-div').css('transform', 'scale(1)');
        });
    });
</script>
